* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    row-gap: 15px;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #238abf;

}

.header {
    background-color: #e9b135;
}

