html, body, .container {
    height: 100%;
    margin: 0;
 }

* {
    font-family: Roboto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    row-gap: 15px;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #238abf;
}

.sidebar .nav, .sidebar .settings {
    margin-top: 25px;
}

.sidebar .logo {
    padding: 25px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.sidebar .logo .icon {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: white;
}

.sidebar .logo h1 {
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.sidebar .nav, .sidebar .settings {
    padding: 15px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.sidebar .nav .icon, .sidebar .settings .icon {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: white;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar li {
    padding: 0px 15px;
    gap: 15px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.header {
    padding: 25px;
    background-color: white;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.header .search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding: 0px 25px;
}

.header .search-icon, .header .notif-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #0b0b0b;
    flex: 0 0 auto;
}

.header .search-bar {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #d6dcde;
    flex: 1 1 auto;
}

.header .notifications {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 25px;
    margin-right: 50px;
    gap: 25px
}

.header .profile-icon-small {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #e5ae35;
    flex: 0 0 auto;
}

.header .notifications .name {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
}

.header .greetings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 25px;
    gap: 25px;
}

.header .profile-icon-large {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #e5ae35;
    flex: 0 0 auto;
}

.header .message {
    display: grid;
    gap: 10px;
}

.header .message .top {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
}

.header .message .username {
    font-size: 28px;
    font-family: Roboto;
    font-weight: 500;
}

.header .filters {
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .filters ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.header .filters li {
    width: 150px;
    height: 50px;
    background-color: #238abf;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
}

.main {
    background-color: #dce1e3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main .projects {
    grid-row: 1 / 3;
    padding: 25px;
}

.main h1 {
    color: #0b0b0b;
    font-family: Roboto;
    font-weight: 600;
    font-size: 32px;
}

.main .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
    width: 100%;
    height: 90%;
}

.main .card {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border-left: 15px solid #e5ae35;
}

.main .card h2 {
    color: #0b0b0b;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
}

.main .card p {
    color: #5b5a57;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
}

.main .announcements {
    grid-row: 1 / 2;
    padding: 25px;
}

.main .an-container {
    background-color: white;
    border-radius: 25px;
}

.main .announcements ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;

}

.main .an-container li {
    padding: 0px 25px;
}

.main .an-container li h2 {
    color: #0b0b0b;
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
}

.main .an-container li p {
    color:#5b5a57;
    font-family: Roboto;
    font-weight: 600;
    font-size: 12px;
}

.main .trending {
    padding: 25px;
    grid-row: 2 / 4;
}

.main .tr-container {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

.main .tr-container ul {
    list-style-type: none;
    padding: 5px 25px;
}

.main .tr-container li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

.main .tr-container .tr-icon {
    background-color: #e5ae35;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.main .tr-container .tr-info h2{
    color: #0b0b0b;
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
}

.main .tr-container .tr-info p{
    color: #5b5a57;
    font-family: Roboto;
    font-weight: 600;
    font-size: 12px;
}